<!DOCTYPE html>
<html>
<head>

  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css" />
  <link rel="stylesheet" href="bower_components/angular-bootstrap-lightbox/dist/angular-bootstrap-lightbox.min.css" />

  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/angularjs/angular.min.js"></script>
  <script src="bower_components/angular-animate/angular-animate.min.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script src="bower_components/angular-smart-table/dist/smart-table.min.js"></script>
  <script src="bower_components/angular-bootstrap-lightbox/dist/angular-bootstrap-lightbox.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/data_controller.js"></script>
</head>
<body ng-app="headfi">
<div ng-controller="data_controller">
  <button class="btn btn-default" ng-disabled="sending" ng-click="get_dates()">GET DATES</button>
  <div ng-if="loaded_dates" id="selection_container">
    <div id="selection_date">
      <select class="form-control" ng-options="date.txt for date in dates" ng-model="selected_date"></select>
      {{selected_date}}
      <button class="btn btn-default" ng-disabled="sending" ng-if="selected_date != null" ng-click="get_offers()">GET OFFERS</button>
    </div>
  </div>
  <div id="data" ng-if="loaded_data">
    <table st-table="offers" class="table table-stripped">
      <thead>
      <tr>
        <th>
          Img
        </th>
        <th st-sort="thread_title">
          Title
        </th>
        <th st-sort="thread_description">
          Description
        </th>
        <th st-sort="thread_date_txt">
          Date
        </th>
        <th st-sort="poster_name">
          Poster
        </th>
        <th st-sort="poster_rep">
          Poster Rep
        </th>
        <th st-sort="type">
          Type
        </th>
        <th st-sort="price">
          Price
        </th>
        <th st-sort="currency">
          Currency
        </th>
        <th st-sort="bumped">
          Bumped
        </th>
        <th st-sort="replies">
          Replies
        </th>
        <th st-sort="views">
          Views
        </th>
        <th>

        </th>
      </tr>
      <tr>
        <th colspan="15"><input st-search="" class="form-control" placeholder="global search ..." type="text"/></th>
      </tr>
      <tr>
        <th colspan="2"><input st-search="thread_title" class="form-control" placeholder="Title" type="text"/></th>
        <th colspan="1"><input st-search="thread_description" class="form-control" placeholder="Description" type="text"/></th>
        <th colspan="1"><input st-search="thread_date_txt" class="form-control" placeholder="Date" type="text"/></th>
        <th colspan="1"><input st-search="poster_name" class="form-control" placeholder="Poster" type="text"/></th>
        <th colspan="1"><input st-search="poster_rep" class="form-control" placeholder="Reputation" type="text"/></th>
        <th colspan="1">
          <select class="form-control" st-search="type">
            <option value="">All</option>
            <option ng-repeat="of in offers_copy | unique: 'type'" value="{{of.type}}">{{of.type}}</option>
          </select>
        <th colspan="1"><input st-search="price" class="form-control" placeholder="Price" type="text"/></th>
        <th colspan="1">
          <select class="form-control" st-search="currency">
            <option value="">All</option>
            <option ng-repeat="of in offers_copy | unique: 'currency'" value="{{of.currency}}">{{of.currency}} - {{of.currency_symbole}}</option>
          </select>
        </th>
        <th colspan="1"><input st-search="bumped" class="form-control" placeholder="Bumped" type="text"/></th>
        <th colspan="1"><input st-search="replies" class="form-control" placeholder="Replies" type="text"/></th>
        <th colspan="2"><input st-search="views" class="form-control" placeholder="Views" type="text"/></th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="offer in offers">
        <td>
          <img ng-click="open_lightbox_img(offer.img_url, offer.title)" ng-src="{{offer.img_url}}"/>
        </td>
        <td>
          {{offer.thread_title}}
        </td>
        <td>
          {{offer.thread_description}}
        </td>
        <td>
          {{offer.thread_date_txt}}
        </td>
        <td>
          {{offer.poster_name}}
        </td>
        <td>
          {{offer.poster_rep}}
        </td>
        <td>
          {{offer.type}}
        </td>
        <td>
          {{offer.price}}
        </td>
        <td>
          {{offer.currency}} - {{offer.currency_symbole}}
        </td>
        <td>
          {{offer.bumped}}
        </td>
        <td>
          {{offer.replies}}
        </td>
        <td>
          {{offer.views}}
        </td>
        <td>
          <a target="_blank" ng-href="{{offer.poster_url}}"><span>P</span></a>
          <a target="_blank" ng-href="{{offer.poster_rep_url}}"><span>R</span></a>
          <a target="_blank" ng-href="{{offer.thread_url}}"><span>T</span></a>
        </td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="13" class="text-center">
          <div st-pagination="" st-items-by-page="6" st-displayed-pages="7"></div>
        </td>
      </tr>
      </tfoot>
    </table>

  </div>


</div>
</body>
</html>
